[Unit]
Description=Robit Service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/robit/
ExecStart=/home/pi/robit/venv/bin/python /home/pi/robit/update_watcher.py
Restart=always

[Install]
WantedBy=multi-user.target